{% extends 'base.html' %}
{% block title %}Look-up MET API{% endblock%}
{% block body_class %}Discover by Department{% endblock %}

{% block content %}

<div class="jumbotron">
  <div >
 

   {% set img_url = "https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" %}

  {% set met_url = "https://www.metmuseum.org/art/collection/search/" %}

  {% set NA = "Not Listed" %}

  <h2>Department: {{department_name}}</h2>
  <form action="/by-department">
    <div class="form-group"> 
      <label for="departmentIds">Select A department</label>
      <select name="departmentIds" class="selectpicker form-control" id="departmentIds">
       {% for val,name in choices.items() %}
       <option value="{{val}}">{{ name }}</option>
       {% endfor %}
     </select>
     <input class="form-control mr-lg-7" type="submit" value="Go!">
    </form>
 

  {% for  objectID in img_ids%}
  <div class="container">
    <div class="row" style = "display : flex; flex-wrap : wrap;">
      <div class = "col-md-4 col-sm-6">
        <div class = "thumbnail">
         <img src="{{img_url}}" id="{{objectID}}" class="img-thumbnail" class="card-image">

         <form method="POST" class="messages-like">
          <button class="
            btn 
            btn-sm 
            {{'btn-primary' if objectID in inspirations else 'btn-secondary'}}"
            formaction="/inspiration/{{objectID}}/add">
            <i class="fa fa-paint-brush"></i> 
          </button>
        </form>
        <div class = "caption">
          <h4>Artist Name:</h4>
          <a href="{{met_url}}{{objectID}}" class="artist-wiki">
          <h4 class="artist-name" id="{{objectID}}">{{NA}}</h4></a>

          <h5>Art Title: </h5>
          <a href="{{met_url}}{{objectID}}" class="title-wiki">
          <h5 class="artist-title" id="{{objectID}}"></h5></a>
        </div>
      </div>
    </div>
  </div>
</div>  

    
  {%endfor%}

  

  <div class="container">
    <div class="row" style = "display : flex; flex-wrap : wrap;">
      <div class = "col-md-4 col-sm-6">
        <div id="imgDP">
  
        </div>
      </div>
    </div>
  </div>

<form >
    <input class="btn btn-outline-grey my-2 my-lg-0"  type="button" id="showMoreDP" value="Load More!">
</form>


</div>
</div>

{% endblock %}