{% extends 'base.html' %}
{% block title %}Home - THE MET API{% endblock%}
{% block body_class %}Home{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-9 col-lg-5">
    <h2>Search for an artwork</h2>
      <form action="/searched" >
        <input class="form-control mr-lg-7" type="text" placeholder="Search"  name="image" id="search_id">
        <button class="btn btn-outline-grey my-2 my-lg-0" type="submit">Search</button>
      </form>

     {% set img_url = "https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" %}

    <h2>or discover them by department</h2>
    <div class="form-group">
      <form action="/by-department">
        <label for="departmentIds">Select A department</label>
        <select name="departmentIds" class="selectpicker form" id="departmentIds">
          {% for val,name in choices.items() %}
          <option value="{{val}}">{{ name }}</option>
          {% endfor %}
        </select>
        <input class="form-control mr-lg-7" type="submit" value="Go!">
      </form>
    </div>
  </div>
</div>



<div class="image-ticker-container">    <div class="image-scroller">
  <div class="image-ticker-fade" aria-hidden="true"></div>
  <div class="image-ticker-container">
    {%for name,img in img_urls.items()%}
    <img src="{{img}}"class="img-thumbnail" class="card-image">
    {%if name != ""%}
    <p id="p">Artist: <b>{{name}}</b></p>
    {%endif%}
  {%endfor%}
  </div>
  <div class="image-ticker-container">
    {%for name,img in img_urls.items()%}
    <img src="{{img}}" class="img-thumbnail" class="card-image">
    {%if name != ""%}
    <p id="p">Artist: <b>{{name}}</b></p>
    {%endif%}
  {%endfor%}
  </div>
</div>


  {% endblock %}
Footer
