{% extends 'base.html' %}
{% block title %}Art liked by  {{g.user.username}}{% endblock%}
{% block content %}
{% if g.user.likes|length == 0 %}
<div class="message-heading">
  <h2>No post added to the cart!</h2>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROO1bWt2fRv-h25BOTpeAso637j2sra771EQ&usqp=CAU"  class="img-thumbnail" alt=""> 
  <h3>Visit back when you have items in your cart!</h3>

</div>
{% else %}
<h1>All my likes!</h1>
{%for liked_post in likes%}
<div class="message-heading">
  <h3>Buy art from <a href="/user/{{liked_post.user.id}}/profile"> {{ liked_post.user.username }}</a></h3>
    
          <span class="text-muted">{{ liked_post.created_at.strftime('%d %B %Y') }}</span>
          <p> <b>Title: </b> {{ liked_post.title }}</p>
          <p> <b>Description: </b>{{ liked_post.description }}</p>
  
  <div class="col-md-7 col-lg-5">
    <img src="{{liked_post.imageURL}}"  class="img-thumbnail" alt=""> 
     
  </div>
  <form method="POST" action="/posts/{{ liked_post.id }}/like" class="form-inline">
    <button class="btn btn-outline-danger btn-sm ml-2">Remove</button></form>

{%endfor%}
{% endif %}
</div>
{% endblock %}